<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <!--  -->
    <meta http-equiv="refresh" content="{{ current_interval }}">
    <style>
        /* Define a CSS class for high temperature */
        .high-temperature {
            background-color: rgba(242, 9, 9, 0.3); /* Light red background */
        }
    </style>
    
</head>
<body>
    <nav class="navbar">
        <h1>Weather App</h1>
        <a href="/settings" class="settings-btn">Settings</a>
    </nav>

    <div class="container">
        {% for data in weather_data %}

        <div class="container-item" id="item-{{ loop.index }}">
            <h1>{{ data.city }}</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Condition</th>
                        <td>{{ data.main_weather }}</td>
                    </tr>
                    <tr>
                        <th>Temperature</th>
                        <td>{{ data.temperature }} °C</td>
                    </tr>
                    <tr>
                        <th>Feels Like</th>
                        <td>{{ data.feels_like }} °C</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ data.date }}</td>
                    </tr>
                    <tr>
                        <th>Time</th>
                        <td>{{ data.time }}</td>
                    </tr>
                   
                </tbody>
            </table>
            <a class="view-btn" href="/city?city={{ data.city }}">
                view
            </a>
        </div>
        <!-- Hidden inputs to store the threshold, temperature, and item id values -->
        <input type="hidden" class="threshold" value="{{ threshold }}">
        <input type="hidden" class="temperature" value="{{ data.temperature }}">
        <input type="hidden" class="item-id" value="item-{{ loop.index }}">

        <script>
            // Get the hidden threshold, temperature, and item id values
            const threshold = parseFloat(document.querySelector('.threshold').value);
            const currentTemperature = parseFloat(document.querySelector('.temperature').value);
            const itemId = document.querySelector('.item-id').value;

            // Get the corresponding item element by its ID
            const itemElement = document.getElementById(itemId);

            // Change background color if temperature exceeds threshold
            if (currentTemperature > threshold) {
                itemElement.classList.add('high-temperature');
            }
        </script>

        {% endfor %}
    </div>
    


</body>
</html>