<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <!--  -->
    <meta http-equiv="refresh" content="{{ current_interval }}">
    <style>
        /* Define a CSS class for high temperature */
        .high-temperature {
            background-color: rgba(111, 86, 86, 0.444); /* Light red background */
        }
    </style>
    
</head>
<body>
    <nav class="navbar">
        <h1>Weather App</h1>
        <!-- Display alert badge if alert_count > 1 -->

        <!-- Dropdown for alerts -->
        <div class="dropdown">
            <a class="alert-badge" href="#">Alerts ({{ high_temp_count }})</a>
            <div class="dropdown-content">
                {% if high_temp_cities %}
                    {% for city, temp in high_temp_cities.items() %}
                        <a>{{ city }}: {{ temp }}°C</a>
                    {% endfor %}
                {% else %}
                    <a >No alerts</a>
                {% endif %}
            </div>
        </div>
        
        <a href="/settings" class="settings-btn">Settings</a>
    </nav>

    <div class="container">
        {% for data in weather_data %}

        <div class="container-item 
            {% if data.city in high_temp_cities %}
            high-temperature
            {% endif %}" >
            <h1>{{ data.city }}</h1>
            <table>
                <tbody>
                    <tr>
                        <th>Condition</th>
                        <td>{{ data.main_weather }}</td>
                    </tr>
                    <tr>
                        <th>Temperature</th>
                        <td>{{ data.temperature }} °C</td>
                    </tr>
                    <tr>
                        <th>Feels Like</th>
                        <td>{{ data.feels_like }} °C</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ data.date }}</td>
                    </tr>
                    <tr>
                        <th>Time</th>
                        <td>{{ data.time }}</td>
                    </tr>
                   
                </tbody>
            </table>
            <a class="view-btn" href="/city?city={{ data.city }}">
                view
            </a>
        </div>
        {% endfor %}
    </div>
    


</body>
</html>